@charset "UTF-8";
/***
    The new CSS reset - version 1.11 (last updated 20.9.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  color: inherit;
  font-family: inherit;
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --main-color: #ffffff;
  --accent-color: #eeeeee;
  --font-family: "Roboto", sans-serif;
  --second-font-family: "Roboto Condensed", sans-serif;
  --main-text-color: 0, 0, 0;
}

body {
  font-family: var(--font-family);
  background: var(--main-color);
  color: rgba(var(--main-text-color), 0.8);
}

img {
  display: block;
}

svg {
  display: block;
}

.main-header {
  background-color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  padding: 6px;
}
.main-header .btn-size {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
}
.main-header .header-left-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}
.main-header .header-left-side .burger-btn {
  margin-right: 8px;
}
.main-header .action-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}
.main-header .action-buttons .match-radio-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 7px;
  width: 87px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  color: var(--main-color);
}
.main-header .action-buttons .search-btn {
  display: none;
}
.main-header .action-buttons .avatar-btn {
  display: none;
}
.main-header .action-buttons .star-dot-icon {
  display: none;
}
.main-header .action-buttons .ring-notif-icon {
  display: none;
}

.top-nav {
  display: none;
}

.secondary-nav {
  padding: 16px 12px;
}
.secondary-nav .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.secondary-nav .list .item {
  font-size: 12px;
  line-height: 1;
  color: rgba(var(--main-text-color), 0.38);
}
.secondary-nav .list .item:first-child {
  color: rgba(var(--main-text-color), 0.7);
}
.secondary-nav .list .item:not(:last-child) {
  position: relative;
  padding-right: 32px;
}
.secondary-nav .list .item:not(:last-child)::before {
  content: "";
  width: 8px;
  height: 8px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABJSURBVHgBhY67CQAgDERPBQdwB5dwCfev3MDWSvBEGz/RB48E7ggBBo5GarFh5iy00kDT3JdCJ99KZrt4lDROFB546dlvaKWwARdnDc8y6qAoAAAAAElFTkSuQmCC");
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
}

.tournament-section {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 32px;
}
.tournament-section .content-wrapper {
  border: 1px solid var(--accent-color);
  border-radius: 2px;
}
.tournament-section .content-wrapper .tournament-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  gap: 12px;
  padding: 16px 16px 24px 16px;
  border-bottom: 1px solid var(--accent-color);
}
.tournament-section .content-wrapper .tournament-header .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  text-transform: capitalize;
  color: rgba(var(--main-text-color), 0.9);
  padding-top: 8px;
  margin-bottom: 8px;
}
.tournament-section .content-wrapper .tournament-header .description {
  font-size: 12px;
  line-height: 1;
  color: rgba(var(--main-text-color), 0.38);
}
.tournament-section .content-wrapper .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  padding-left: 16px;
  padding-right: 18px;
}
.tournament-section .content-wrapper .list .link {
  position: relative;
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 12px;
  color: rgba(var(--main-text-color), 0.54);
}
.tournament-section .content-wrapper .list .active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: #ffce00;
}

.table-section .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: rgba(var(--main-text-color), 0.9);
  padding: 0 12px;
  margin-bottom: 9px;
}
.table-section .tabs {
  padding: 0 12px;
  margin-bottom: 16px;
}
.table-section .tabs .list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  gap: 6px;
}
.table-section .tabs .list .tab-button {
  padding: 4px 12px;
  font-size: 14px;
  line-height: 1.71;
  border-radius: 6px;
  color: rgba(var(--main-text-color), 0.54);
  background-color: rgba(95, 120, 137, 0.08);
}
.table-section .tabs .list .active {
  font-weight: 500;
  color: rgba(var(--main-text-color), 0.9);
  background-color: #fadb00;
}
.table-section .tablesContainer {
  margin-bottom: 18px;
}
.table-section .tablesContainer .group-table {
  width: 100%;
  -webkit-box-shadow: 0 1px 6px 0 rgba(var(--main-text-color), 0.16);
          box-shadow: 0 1px 6px 0 rgba(var(--main-text-color), 0.16);
  border-radius: 6px;
  overflow: hidden;
}
.table-section .tablesContainer .group-table .block-params {
  width: 20px;
  text-align: center;
}
.table-section .tablesContainer .group-table .group {
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 12px;
}
.table-section .tablesContainer .group-table .games {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  padding-right: 8px;
}
.table-section .tablesContainer .group-table .loses {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  padding-right: 8px;
}
.table-section .tablesContainer .group-table .goals {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  padding-right: 8px;
  width: 48px;
  text-align: center;
}
.table-section .tablesContainer .group-table .form {
  display: none;
}
.table-section .tablesContainer .group-table .points {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  padding-right: 12px;
}
.table-section .tablesContainer .group-table .table-head {
  color: var(--main-color);
  background-color: #333333;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}
.table-section .tablesContainer .group-table .table-head th {
  padding-top: 4px;
  padding-bottom: 4px;
}
.table-section .tablesContainer .group-table .table-body td {
  padding-top: 6px;
  padding-bottom: 6px;
  height: 24px;
  vertical-align: middle;
}
.table-section .tablesContainer .group-table .table-body td:not(:first-child) {
  font-size: 14px;
  line-height: 1.71;
  font-family: var(--second-font-family);
}
.table-section .tablesContainer .group-table .table-body td:last-child {
  font-weight: 700;
}
.table-section .tablesContainer .group-table .table-body tr {
  border-top: 1px solid rgba(95, 120, 137, 0.16);
}
.table-section .tablesContainer .group-table .table-body .team {
  font-size: 12px;
  line-height: 1.67;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 6px;
  height: 100%;
  padding-left: 8px;
}
.table-section .tablesContainer .group-table .table-body .team .place {
  width: 20px;
  height: 20px;
  border-radius: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  font-family: var(--second-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  padding-top: 1px;
}
.table-section .tablesContainer .group-table .table-body .team .logo {
  -o-object-fit: contain;
     object-fit: contain;
}
.table-section .tablesContainer .group-table .table-body .team .first-second-place {
  background-color: #2173d2;
  color: var(--main-color);
}
.table-section .tablesContainer .group-table .table-body .team .third-place {
  background-color: #2ea2e5;
  color: var(--main-color);
}
.table-section .tablesContainer .group-table:not(:last-child) {
  margin-bottom: 8px;
}
.table-section .table-info {
  padding-left: 12px;
  padding-right: 12px;
}
.table-section .table-info .info-item:not(:last-child) {
  margin-bottom: 12px;
}
.table-section .table-info .info-item-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 4px;
}
.table-section .table-info .info-item-list {
  font-size: 12px;
  line-height: 1.33;
}
.table-section .table-info .qualif-item {
  padding-left: 28px;
  position: relative;
}
.table-section .table-info .qualif-item:before {
  content: "";
  position: absolute;
  border-radius: 24px;
  width: 6px;
  height: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 7px;
}
.table-section .table-info .qualif-item:nth-child(1):before {
  background-color: #2173d2;
}
.table-section .table-info .qualif-item:nth-child(2):before {
  background-color: #2d9bdb;
}
.table-section .table-info .qualif-item:nth-child(3):before {
  background-color: #fcac1f;
}
.table-section .table-info .qualif-item:nth-child(4):before {
  background-color: #ec6a32;
}
@media (min-width: 1024px){
  .main-header .header-left-side .burger-btn {
    margin-right: 12px;
  }
  .main-header .action-buttons .match-radio-btn {
    display: none;
  }
  .main-header .action-buttons .search-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
  }
  .main-header .action-buttons .avatar-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
  }
  .main-header .action-buttons .star-dot-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
  }
  .main-header .action-buttons .ring-notif-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
  }
  .main-header .action-buttons .star-icon {
    display: none;
  }
  .main-header .action-buttons .ring-icon {
    display: none;
  }
  .main-header {
    padding: 8px;
  }
  .top-nav {
    display: block;
  }
  .top-nav .list {
    border-bottom: 1px solid var(--accent-color);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    padding: 15px 20px;
  }
  .top-nav .item {
    font-size: 14px;
    color: rgba(var(--main-text-color), 0.7);
  }
  .top-nav .item:first-child {
    position: relative;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    gap: 8px;
    padding-right: 32px;
    color: rgba(var(--main-text-color), 0.9);
  }
  .top-nav .item:first-child::after {
    content: "";
    width: 1px;
    height: 12px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 16px;
    background-color: var(--accent-color);
  }
  .top-nav .item:not(:first-child):not(:last-child) {
    margin-right: 32px;
  }
  .secondary-nav {
    border-bottom: 1px solid var(--accent-color);
    padding: 16px 20px;
  }
}